{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Accueil {% endblock %}

{%block body %}
    <h1>Test</h1>
<h2>Bonjour {{ user.username }}</h2>
    <a href="{{ path('user_modifierprofil') }}"><button>Afficher profil</button></a>
    <a href="{{ path('recette_creerRecette') }}"><button>Créer recette</button></a>
    <a href="{{ path('app_logout') }}"><button>Se déconnecter</button></a>
{% endblock %}