{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Modifier son profil {% endblock %}
{% block body %}
<div>
    
    <div>
        <img src="{{ asset('img/profil/'~user.image) }}" alt="">
    </div>
    {{ form_start(formUpdate) }}
    <div>
        <label for="">Nom : </label>
        {{ form_widget(formUpdate.nom) }}
        {{ form_errors(formUpdate.nom) }}
    </div>
    <div>
        <label for="">Prénom : </label>
        {{ form_widget(formUpdate.prenom) }}
        {{ form_errors(formUpdate.prenom) }}
    </div>
    <div>
        <label for="">Email : </label>
        {{ form_widget(formUpdate.email) }}
        {{ form_errors(formUpdate.email) }}
    </div>
    <div>
        <label for="">Date de naissance : </label>
        {{ form_widget(formUpdate.date_de_naissance) }}
        {{ form_errors(formUpdate.date_de_naissance) }}
    </div>
    <div>
        <label for="">Adresse : </label>
        {{ form_widget(formUpdate.adresse) }}
        {{ form_errors(formUpdate.adresse) }}
    </div>
    <div>
        <label for="">Code Postal : </label>
        {{ form_widget(formUpdate.code_Postal) }}
        {{ form_errors(formUpdate.code_Postal) }}
    </div>
    <div>
        <label for="">Ville : </label>
        {{ form_widget(formUpdate.ville) }}
        {{ form_errors(formUpdate.ville) }}
    </div>
    <div>
        <label for="">Quels sont tes aliments préférés ?  : </label>
        {{ form_widget(formUpdate.aliments_Prefere) }}
        {{ form_errors(formUpdate.aliments_Prefere) }}
    </div>
    <div>
        <label for="">Et ceux que tu déteste ??: </label>
        {{ form_widget(formUpdate.aliment_Deteste) }}
        {{ form_errors(formUpdate.aliment_Deteste) }}
    </div>
    <div>
        <label for="">Quels sont les plats que tu préfères faire ? :</label>
        {{ form_widget(formUpdate.preparation_Preferee) }}
        {{ form_errors(formUpdate.preparation_Preferee) }}
    </div>
    <div>
        <label for="">Pseudo : </label>
        {{ form_widget(formUpdate.username) }}
        {{ form_errors(formUpdate.username) }}
    </div>
    <div>
        <label for="">Mot de passe : </label>
        {{ form_widget(formUpdate.plainPassword) }}
        {{ form_errors(formUpdate.plainPassword) }}
    </div>
    <div>
        <label for="">Photo de profil : </label>
        {{ form_widget(formUpdate.image) }}
        {{ form_errors(formUpdate.image) }}
    </div>
    <button type="submit" class="btn">S'enregistrer</button>
    {{ form_end(formUpdate) }}
</div>

{% endblock %}



